.block-ombuwire-fpo h2 {
  display: none;
}
.block-ombuwire-fpo .fpo {
  background-color: #b3b3b3;
}
body.ombuwire .ombuwire-iframe {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.ombuwire .ombuwire-center {
  display: block;
  margin: 0 auto;
}
