@radius: 3px;
@font-family: Lucida Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
/***x*
 * FPO Blocks
 */
.block-ombuwire-fpo {
  display: inline-block;
  position: relative;
  h2 {
    text-align: center;
    font-size: 130%;
    color: lighten(#000, 55%);
    text-shadow: 0px 1px 1px lighten(#000, 80%);
    position: absolute;
    top: 10%;
    width: 100%;
  }
  .fpo {
    background-color: lighten(#000, 70%);
  }
}


/****
 * OMBUWIRE display settings
 */
body.ombuwire {
  &.ombuwire-static {
    margin: 0;
    min-height: 100%;
    min-width: 100%;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0
    }
  }

  .ombuwire-center {
    display: block;
    margin: 0 auto;
  }

}


#reset() {
  div, span, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, em, img, b, u, i, center,
  dl, dt, dd, ol, ul, li, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.4em;
  }
  ol, ul {
    list-style: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5em;
  }
}

/****
 * Sidebar Menu
 */
#ombuwire-sidebar {

  #reset();

  position: fixed;
  top: 0;
  z-index: 100;

  color: #ffffff;
  font-size: 12px;
  font-family: @font-family;

  .cloak {
    display: none;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.opener {
    .border-radius(0 0 @radius 0);
    display: block;
    position: absolute;
    top: 0;
    right: -23px;
    width: 23px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

  a.closer {
    display: block;
    position: absolute;
    top: 2px;
    right: 6px;
    width: 23px;
    font-size: 20px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
  }

  .ombuwire-menu {

    .border-radius(0 0 @radius 0);
    padding: 20px 1em 1em;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-left: 0;
    border-top: 0;
    background: none repeat scroll 0 0 rgba(30, 30, 30, 0.95);

    .displays {
      font-size: 10px;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {

        margin: 2px 0;

        &.has-icon {
          position: relative;
          padding-left: 18px;
        }


        > .icon {
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 1px;
          background: url(img/issues.png) no-repeat 0 0 transparent;
          cursor: default;

          &.icon-in-progress { background-image: url(img/working-on.png); }
          &.icon-implemented { background-image: url(img/done.png); }
        }

        > .root {
          padding: 1px 3px;
        }

        > .displays {
          line-height: 2em;
          height: 0px;
          overflow: hidden;
          -webkit-transition: height 0.2s ease-in;
          -moz-transition: height 0.2s ease-in;
          -o-transition: height 0.2s ease-in;
          transition: height 0.2s ease-in;

        }

        &:hover,
        &.active {
          > .displays {
            height: 2em;
          }
        }
        h3 {
          background-color: rgba(255, 255, 255, 0.4);
          color: lighten(#000, 15%);
          text-transform: uppercase;
          margin: 1em 0 0.5em;
          padding: 0 7px;
          .border-radius(@radius);
        }
        a.active {
          text-decoration: underline;
        }
      }
    }

    #ombuwire-regions-label {
      display: none;
      padding-top: 0.5em;
      margin-top: 0.5em;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      input {
        vertical-align: inherit;
      }
    }
  }
}


/****
 * Region Labels
 */
.region .region-label { display: none; }
.ombuwire-region-outlines .region {

  @borderWidth: 1px;
  border: @borderWidth solid green;

  label.region-label {
    @padding: 2px;
    @fontLineHeight: 11px;
    display: block;
    background: green;
    font-size: @fontLineHeight;
    line-height: @fontLineHeight;
    font-family: @font-family;
    color: #FFF;
    padding: @padding;
    position: absolute;
    top: 0;
    right: @borderWidth;
    @r: 3px;
    -webkit-border-radius: 0 0 @r @r;
    -moz-border-radius: 0 0 @r @r;
    border-radius: 0 0 @r @r;
  }
}

/**
 * Mixins
 */
.border-radius(@radius: 10px) {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: @radius;
  -moz-background-clip: padding-box;
  -moz-border-radius: @radius;
  border-radius: @radius;
  background-clip: padding-box;
}
